@{
    Layout = null;
}

@model PerpetualShred.Models.WebVid

<html>
<head>
    <title>React Testbed</title>
    <link rel="stylesheet" href="~/css/ReactTest.css" type="text/css" />
</head>
<body>
    <div class="video-background">
        <div class="video-foreground">
            <iframe src="@Html.DisplayFor(model => model.PlayerUrl)"></iframe>
        </div>
    </div>

    <div id="polina">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <p><a href="@Html.DisplayFor(model => model.OriginUrl)">View origin page</a>
        <p>@Html.DisplayFor(model => model.Synopsis)
    </div>
</body>
</html>
<footer>
    <script src="~/js/VidControls.js"></script>
</footer>
