@{
    Layout = null;
}

@model PerpetualShred.Models.WebVid
@using Newtonsoft;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>ReactPlayerTest</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <script type="text/javascript">
        var jsModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    </script>
    <script src="https://unpkg.com/screenfull"></script>
</head>
<body>
    <div class="video-background">
        <div id="shredplayer">
        </div>
    </div>
    <div id="shredsidebar">     
    </div>
</body>
</html>
<footer>
    <script src="~/js/main.build.js"></script>
</footer>