#shrednavoverlay {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    z-index: 15;
}

#shrednavoverlay-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(16, 16, 16, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    z-index: 14;
}

#shrednavoverlay-titlebar {
    width: 100vw;
    height: 164px;
    background-color: rgba(20, 20, 20, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    z-index: 13;
}

#shrednavoverlay-background.hide {
    transform: translate3d(0, -200vh, 0);
}

#shrednavoverlay-background.show {
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}

#shrednavoverlay.hide {
    transform: translate3d(0, -200vh, 0);
}

#shrednavoverlay.show {
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}

#shrednavoverlay-titlebar.hide {
    transform: translate3d(0, -200vh, 0);
}

#shrednavoverlay-titlebar.show {
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}

#navlink {
    font-family: serif;
    font-weight: 500;
    font-size: 64px;
    align-self: center;
    letter-spacing: -0.3px;
    text-align: center;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
    color: white;
}

#navlink:hover {
        transform: translateX(5px);
        transition-duration: 0.3s;
    }

#navlink-list {
    align-self: center;
    top: 50%;
    padding-top: 40vh;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}