#container li {
    margin-bottom: 10px;
}

#flyoutMenuBackground {
    width: calc(25vw + 18px);
    height: 100vh;
    background-color: rgba(105, 33, 33, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform .3s cubic-bezier(0, .52, 0, 1);
    transition: -webkit-transform .3s cubic-bezier(0, .52, 0, 1);
    -o-transition: transform .3s cubic-bezier(0, .52, 0, 1);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    transition: transform .3s cubic-bezier(0, .52, 0, 1), -webkit-transform .3s cubic-bezier(0, .52, 0, 1);
    z-index: 9;
}

#flyoutMenuBackground.hide {
    -webkit-transform: translate3d(200vw, 0, 0);
    transform: translate3d(200vw, 0, 0);
}

#flyoutMenuBackground.show {
    -webkit-transform: translate3d(75vw, 0, 0);
    transform: translate3d(75vw, 0, 0);
    overflow: hidden;
}

#flyoutMenu {
    width: calc(25vw + 18px);
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform .3s cubic-bezier(0, .52, 0, 1);
    transition: -webkit-transform .3s cubic-bezier(0, .52, 0, 1);
    -o-transition: transform .3s cubic-bezier(0, .52, 0, 1);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    transition: transform .3s cubic-bezier(0, .52, 0, 1), -webkit-transform .3s cubic-bezier(0, .52, 0, 1);
    overflow: auto;
    z-index: 10;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#flyoutMenu.hide {
    -webkit-transform: translate3d(200vw, 0, 0);
    transform: translate3d(200vw, 0, 0);
}

#flyoutMenu.show {
    -webkit-transform: translate3d(75vw, 0, 0);
    transform: translate3d(75vw, 0, 0);
}

#vidtitle {
    font-family: serif;
    font-weight: 500;
    font-size: 36px;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 6%;
    letter-spacing: -0.3px;
    text-align: left;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
    line-height: 0.9;
}

#descriptionheader {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    font-family: PTMono;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: left;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
}

#vidsynopsis {
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-family: PTMono;
    line-height: 1.1;
    letter-spacing: -0.4px;
    text-align: left;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
    font-size: large;
}

#vidsourcelink {
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    font-family: PTMono;
    line-height: 1;
    letter-spacing: -0.4px;
    text-align: left;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
    font-size: medium;
}

@media (max-width: 1280px) {
    #flyoutMenu {
        width: calc(35vw + 18px);
    }

    #flyoutMenu.show {
        -webkit-transform: translate3d(65vw, 0, 0);
        transform: translate3d(65vw, 0, 0);
    }

    #flyoutMenuBackground {
        width: 40vw;
    }

    #flyoutMenuBackground.show {
        -webkit-transform: translate3d(65vw, 0, 0);
        transform: translate3d(65vw, 0, 0);
    }
}

@media (max-width: 800px) {
    #flyoutMenu {
        width: calc(50vw + 18px);
    }

    #flyoutMenu.show {
        -webkit-transform: translate3d(50vw, 0, 0);
        transform: translate3d(50vw, 0, 0);
    }

    #flyoutMenuBackground {
        width: 50vw;
    }

    #flyoutMenuBackground.show {
        -webkit-transform: translate3d(50vw, 0, 0);
        transform: translate3d(50vw, 0, 0);
    }
}

.CUvidThumbContainer img {
    height: 64px;
    width: 112px;
    align-self: center;
    padding-top: 10px;
}

.CUvidInfoContainer {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}

.CUvidTextContainer {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
    font-size: 14px;
}

.CUvidTitle {
    font-family: serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: left;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
    padding-bottom: 10px;
}

#comingupheading {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    font-family: PTMono;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: left;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
}

#CUBox {
    padding-bottom: 60vh;
}

.ytLogo {
    height: 12px;
}