#shrednavbutton {
    padding: 0px 0px;
    display: inline-block;
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 16;
    -webkit-transition: -webkit-transform .3s cubic-bezier(0, .52, 0, 1);
    transition: -webkit-transform .3s cubic-bezier(0, .52, 0, 1);
    -o-transition: transform .3s cubic-bezier(0, .52, 0, 1);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    transition: transform .3s cubic-bezier(0, .52, 0, 1), -webkit-transform .3s cubic-bezier(0, .52, 0, 1);
}

#shrednavbutton.dock {
    -webkit-transform: translate3d(-28px, -28px, 0);
    transform: translate3d(-28px, -28px, 0);
}

#shrednavbutton.float {
    -webkit-transform: translate3d(0vw, 0, 0);
    transform: translate3d(0vw, 0, 0);
}

.shrednavbutton-box {
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 110 110' style='enable-background:new 0 0 110 110;' xml:space='preserve'%3E%3Cpath fill='white' d='M55,0C24.6,0,0,24.6,0,55s24.6,55,55,55c30.4,0,55-24.6,55-55S85.4,0,55,0z M57.5,28.2c0.8,0.1,1.7,0.2,2.5,0.2 c0.9,0,1.8-0.1,2.8-0.2l0,0h0.1c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2,0c0.2,0,0.5-0.1,0.7-0.1l0.5-0.1l0.2,0.4c0,0,0,0.1,0.1,0.1 c0.1,0.1,0.1,0.3,0.1,0.5c0,1.1,0.2,2.2,0.3,3.3c0.1,0.5,0.1,1.1,0.2,1.6c0.1,0.9,0.1,1.8,0.1,2.7c0,0.7,0,1.3,0,2 c0.1,1.1,0.2,2.2,0.3,3.3c0.1,0.7,0.1,1.5,0.2,2.2c0,0.4,0,0.8,0,1.3c0,0.2,0,0.5,0,0.8v1.5l-1-1.2c-0.1-0.1-0.2-0.2-0.3-0.3 c-0.1-0.2-0.3-0.3-0.4-0.5c-1.8-3.4-3.8-6.6-5.8-9.5c-0.3-0.4-0.6-0.8-0.9-1.2V28.2z M56.3,21.5L56.3,21.5L56.3,21.5L56.3,21.5 l0.1,6.6c0,0,0,0,0,0v5.5c0,0,0,0,0,0v5.5h0V50c-0.6-0.3-1.2-0.5-1.9-0.8c-1.5-0.6-3.1-1.2-4.6-1.8C48.6,47,47.3,46.5,46,46 c-1.9-0.8-3.8-1.5-5.4-2.7v-3.7c0-0.7,0-1.3,0-1.9v-3.5c0-2.1-0.4-4.9-1.1-6.5c0,0,0,0,0,0c-2.1-5.7-6.8-6.3-6.8-6.3H56.3z M32.1,81.7L32.1,81.7c-0.5,0.1-1.1,0.2-1.6,0.2L30.2,82L30,81.7c-0.2-0.4-0.2-0.8-0.2-1c0-0.1,0-0.1,0-0.2c0-2.6,0-5.1,0-7.7l0-4.2 c0-1.8,0-3.7,0-5.5c0-0.4,0-0.7,0-1.1l0-1l1.2-0.1l0.8,1.6c0.4,0.9,0.9,1.8,1.3,2.7c2,4,4,7.2,6.2,9.8c0,0,0,0,0.1,0.1v3.1 c0,0.4,0,1.6-0.3,2.8c0,0,0,0,0,0l0,0l0,0c-0.5-0.1-1-0.2-1.4-0.2c-0.1,0-0.3,0-0.4,0l-0.1,0c0,0-0.1,0-0.1,0c0,0,0,0-0.1,0 c-0.5,0-1.1,0-1.8,0.1C34,81.1,33,81.4,32.1,81.7L32.1,81.7z M34,89.7L34,89.7c3.1-1.6,5.5-4.4,6.3-7.8c0-0.1,0-0.1,0-0.2 c0,0,0,0,0,0c0.2-1.2,0.4-2,0.4-3.3V59.9c1.4,0.5,2.7,1,4.1,1.5l0.4,0.1c1.6,0.5,2.7,1,3.8,1.4c0.6,0.2,1.1,0.5,1.7,0.8 c0.7,0.3,1.4,0.6,2.1,0.9c1.3,0.5,2.5,1.2,3.6,2v5.2c0,1.2,0,2.3,0,3.3v0.7h0c0,3.5,0.5,6.4,1,7.6c0,0,0,0.1,0.1,0.1 c1.2,2.9,3.6,5.2,6.5,6.2H34z M67.7,64.9c-0.1,1.5,0,3-0.3,4.5c-0.5,3.3-1.9,6.2-4.7,8.3c-1.4,1-2.7,1.9-4.3,2.6c0,0-0.1,0-0.1,0.1 c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1-0.6-0.2-1.2-0.3-1.8c1.5-1.4,2.4-3.1,2.7-5.1c0.1-0.4,0.2-0.8,0.2-1.1c0.2-2.1-0.4-3.8-1.9-5.3 c-1.6-1.6-3.5-2.9-5.7-3.8c-1.3-0.5-2.5-1.1-3.8-1.7c-1.3-0.5-2.6-1-3.9-1.4c-2.5-0.8-5-1.7-7.3-2.9c-1.6-0.9-3.1-1.8-4.5-3 c-2.4-2.2-3.6-5-4.1-8.1c-0.5-3.3-0.1-6.4,1.3-9.3c1.3-2.8,3.3-4.9,6-6.4c0.5-0.3,1-0.5,1.5-0.8c0.1-0.1,0.3-0.2,0.4-0.2 c0-0.1,0-0.2,0-0.3c0,0,0-0.1,0-0.1c0-0.1-0.1-0.1-0.1-0.2l0.1-0.1c0.2,0.6,0.4,1.5,0.5,2.5c-0.2,0.2-0.3,0.3-0.5,0.5 c-0.8,0.8-1.4,1.9-1.8,2.9c-0.4,1-0.6,2.1-0.6,3.3c0.1,2.2,0.9,4,2.6,5.4c2,1.7,4.3,2.7,6.6,3.6c2.8,1.1,5.6,2.1,8.4,3.2 c3.2,1.3,6.3,2.8,9,4.9c1.9,1.5,3.2,3.4,4,5.6C67.5,62.1,67.8,63.5,67.7,64.9z M68.6,62.3c-0.1-0.6-0.3-1.2-0.5-1.8 c-0.1-0.4-0.3-0.8-0.5-1.2c5.1-3.9,8.5-10,8.5-17c0-10.4-7.5-19.1-17.4-20.9c0.2,0,0.4,0,0.6,0c17.7,0,29.5,5.9,29.5,20 C88.8,52.1,82.4,59.5,68.6,62.3z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
}