#container li {
    margin-bottom: 10px;
}
    
#flyoutMenuBackground {
    width: 40vw;
    height: 100vh;
    background-color: rgba(105, 33, 33, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    z-index: 9;
}

#flyoutMenuBackground.hide {
    transform: translate3d(200vw, 0, 0);
}

#flyoutMenuBackground.show {
    transform: translate3d(60vw, 0, 0);
    overflow: hidden;
}

#flyoutMenu {
    width: 40vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    overflow: auto;
    z-index: 10;
}

#flyoutMenu.hide {
    transform: translate3d(200vw, 0, 0);
}

#flyoutMenu.show {
    transform: translate3d(60vw, 0, 0);
}

#vidtitle {
    font-family: serif;
    font-weight: 500;
    font-size: 48px;
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    letter-spacing: -0.3px;
    text-align: left;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
}

#descriptionheader {
    padding-left: 10%;
    padding-right: 10%;
    font-family: PTMono;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: left;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
}

#vidsynopsis {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-family: PTMono;
    line-height: 1.33;
    letter-spacing: -0.4px;
    text-align: left;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
}

#vidoriginlink {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}