@media (orientation: portrait) {
    .shrednavbutton-box {
        width: 9vh;
        height: 9vh;
    }

    #shrednavbutton.dock {
        -webkit-transform: translate3d(-28px, -28px, 0);
        transform: translate3d(-28px, -28px, 0);
    }
}