@media only screen and (max-device-width: 480px){
    .menucontainer {
        display: flex;
    }
    #flyoutMenu {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        top: auto;
    }
    
    #flyoutMenu.show { 
        transform: none;
        overflow: hidden;
    }

    #flyoutMenu.hide {
        display: none;
        transform: none;
        overflow: hidden;
    }

    #flyoutMenuBackground.show {
        transform: none;
        overflow: hidden;
    }

    #flyoutMenuBackground.hide {
        display: none;
        transform: none;
        overflow: hidden;
    }

    #flyoutMenuBackground {
        width: 100vw;
        height: 100vh;
        position: relative;
    }


    #vidtitle {
        font-family: serif;
        font-weight: 500;
        font-size: 72px;
        padding-top: 10%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        letter-spacing: -0.3px;
        text-align: left;
        text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
    }

    #descriptionheader {
        padding-left: 10%;
        padding-right: 10%;
        font-family: PTMono;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 4px;
        text-align: left;
        text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
    }

    #vidsynopsis {
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        font-family: PTMono;
        font-size: 48px;
        line-height: 1.33;
        letter-spacing: -0.4px;
        text-align: left;
        text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
    }
    #vidoriginlink {
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        font-family: PTMono;
        font-size: 36px;
        line-height: 1.33;
        letter-spacing: -0.4px;
        text-align: left;
        text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);

    }
}