@media (orientation: portrait) {
    .videocontainer {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        padding-bottom: 56.25%;
        overflow: hidden;
    }

    .video-background iframe{
        position: absolute;
    }

    .video-background [id="pbcontainer"] video {
        position: absolute;
    }

    .video-background [data-vimeo-initialized="true"] iframe {
        position: absolute;
    }
}

@media (orientation: landscape) {
    .video-background [data-vimeo-initialized="true"] {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        overflow: hidden;
    }

    .video-background [data-vimeo-initialized="true"] iframe {
        width: 100vw;
        height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
        min-height: 100vh;
        min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}