@media (orientation: portrait) {
    .shrednavbutton-box {
        width: 120px;
        height: 120px;
    }

    #shrednavbutton.dock {
        -webkit-transform: translate3d(-36px, -36px, 0);
        transform: translate3d(-36px, -36px, 0);
    }
}