@model WebVid

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>WebVid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerUrl" class="control-label"></label>
                <input asp-for="PlayerUrl" class="form-control" />
                <span asp-validation-for="PlayerUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginUrl" class="control-label"></label>
                <input asp-for="OriginUrl" class="form-control" />
                <span asp-validation-for="OriginUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Synopsis" class="control-label"></label>
                <input asp-for="Synopsis" class="form-control" />
                <span asp-validation-for="Synopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoService" class="control-label"></label>
                <input asp-for="VideoService" class="form-control" />
                <span asp-validation-for="VideoService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
