@model PerpetualShred.Models.WebVid
@using Newtonsoft;
@using HtmlAgilityPack;
@using System.Text.Encodings;
@{
    Layout = "~/Views/Shared/_ShredLayout.cshtml";
    var viewModelVids = new PerpetualShred.Models.ViewModelVids();
    var vidList = viewModelVids.WebVids;
}

@{
    var writer = new System.IO.StringWriter();
    Component.InvokeAsync("AllVidList", new { start = 0, count = 1000 }).Result.WriteTo(writer, HtmlEncoder);
}

@section Header {
    <head>
        <meta charset="UTF-8" />
        <title>Perpetual Shred</title>
        <link rel="stylesheet" href="~/css/site.css" type="text/css" />
        <script type="text/javascript">
            var jsModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        </script>
        <script>
            var jsVidList = "@writer.ToString()";
        </script>
    </head>
}

@section Body {
    <body>
        <div class="video-background">
            <div id="shredplayer"></div>
        </div>
        <div id="shredui"></div>
    </body>
}

@section Scripts {
    <script src="~/js/main.build.js"></script>
    <script src="https://unpkg.com/screenfull"></script>
}