@using System.IO
@using Newtonsoft.Json
@model WebVid

@{
    var writer = new StringWriter();
    Component.InvokeAsync("AllVidList", new { start = 0, count = 1000 }).Result.WriteTo(writer, HtmlEncoder);
}

@section Header {
    <head>
        <meta charset="UTF-8" />
        <title>Perpetual Shred</title>
        <link rel="stylesheet" href="~/css/site.css" type="text/css" />
        <script type="text/javascript">
            var jsModel = @Html.Raw(JsonConvert.SerializeObject(Model));
        </script>
        <script>
            var jsVidList = "@writer.ToString()";
        </script>
    </head>
}

@section Body {
    <body>
    <div class="videocontainer">
        <div class="video-background">
            <div id="shredplayer"></div>
        </div>
    </div>
    <div id="shredsidebarbox"></div>
    <div id="shrednavoverlaybox"></div>
    <div id="shredvidlist"></div>
    </body>
}

@section Scripts {
    <script src="~/js/main.build.js"></script>
    <script src="https://unpkg.com/screenfull"></script>
}